#main-container {
    color: white;
}

#sidemenu {
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background-color: white;
    width: 20%;
    height: 90vh;
    border-right: 2px solid #969faa70;
}

#sidemenu a {
    color: white;
    text-decoration: none;
}

/* header */

#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title {
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
    vertical-align: middle;
}



/*ITEM*/

#sidemenu #menu-items {
    padding-top: 50px;
    overflow: hidden;
}

#sidemenu #menu-items .item {
    width: var(--width);
}

/* #sidemenu #menu-items .item .icon {
    display: inline-block;
} */

/* #sidemenu #menu-items .item .icon, */
.title {
    color: #969FAA;
}

.title,
.titlePantAct {

    font-size: 22px;
    vertical-align: widdle;
    overflow: hidden;
    display: inline-block;
}

.titlePantAct {
    color: #273F5E;
}

#sidemenu #menu-items .item a {
    display: block;
}

/* a:hover {
    background-color: #273F5E;

} */

#sidemenu #menu-items .item .title:hover {
    color: #273F5E;
}

#sidemenu #menu-items .item .icon {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon img {
    width: 100%;
}

#sidemenu #menu-items .item .title {
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator {
    height: 1px;
    border-bottom: 2px solid #969faa70;
    margin: 15px 0;
}

.btn-close {
    text-decoration: none;
    width: 170px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    background-color: #ffff;
    color: #1b3039;
    border-color: #1b3039;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all .5s ease;
}

#close:hover {
    color: #ffff;
    border-color: #ffff;
    background-color: #e02323;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}