<div id="sidemenu" class="menu-collapsed">

    <div id="menu-items">
      <div class="item">
        <a href="">
          <div class="icon"></div>
          <div class="title"><fa-icon [icon]="noticia"></fa-icon> Noticias</div>
        </a>
      </div>

      <div class="item separator"></div>

      <div class="item">
        <a href="">
          <div class="icon"></div>
          <div class="title"><fa-icon [icon]="residentes"></fa-icon> Residentes</div>
        </a>
      </div>

      <div class="item separator"></div>

      <div class="item">
        <a href="">
          <div class="icon"></div>
          <div class="title"><fa-icon [icon]="empleados"></fa-icon> Empleados</div>
        </a>
      </div>

      <div class="item separator"></div>

      <div class="item">
        <a href="">
          <div class="icon"></div>
          <div class="title"><fa-icon [icon]="historial"></fa-icon> Historial</div>
        </a>
      </div>

      <div class="item separator"></div>

      <div class="item">
        <a href="">
          <div class="icon"></div>
          <div class="title"><fa-icon [icon]="configuracion"></fa-icon> Configuracion</div>
        </a>
      </div>

      <div class="item separator"></div>

      
    </div>

    <div id="footer">
    <button class="btn-close" id="close"><fa-icon [icon]="close"></fa-icon> Cerrar Sesión</button>
    <p><b>Inside © 2023, Derechos Reservados</b></p>
    </div>
  </div>
