<app-navbar></app-navbar>

<div class="container">
    <div class="menu"><app-menulateral></app-menulateral></div>

    <main class="contenido">
        <section class="acciones">
            <h2 id="titulo">Noticias Activas</h2>
            <div>
                @if (listNoticias.length !== 0 && !buscar) {
                <button class="btn" (click)="Buscar()"><fa-icon [icon]="lupa"></fa-icon> Buscar</button>
                }
                <button class="btn" (click)="mostrarForm(0)" id="add"><fa-icon [icon]="faPlus"></fa-icon> Publicar
                    Noticia</button>
            </div>
        </section>
        @if (buscar) {
        <section class="busqueda">
            <!-- Nota: Funciones de filtrado removidas -->
            <form action="" id="form-buscar">
                <input type="text" name="nombre" class="params" placeholder="Ingrese el nombre">
                <input type="number" name="cedula" class="params" placeholder="Ingrese la cedula del dueño">
                <button class="btn" type="button"><fa-icon [icon]="lupa"></fa-icon>
                    Buscar</button>
            </form>
        </section>
        }
        @if (listNoticias.length !== 0) {
        <section class="contenido">
            <table>
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Fecha de publicación</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of listNoticias; track item.id) {
                    <tr>
                        <td><img class="imgNoticia" src="{{item.linkImg}}" alt=""></td>
                        <td>{{item.titulo}}</td>
                        <td>{{item.fechaPublicacion}}</td>
                        <td class="ultTd">{{item.descripcion}}</td>

                        <div class="btns">
                            <button class="Edit" (click)="mostrarForm(item.id!)">
                                <fa-icon [icon]="faPenToSquare"></fa-icon> Editar
                            </button>
                            <!-- Nota: funcion eliminar removida -->
                            <button class="Delete" (click)="eliminarNoticia(item.id!, item.titulo)">
                                <fa-icon [icon]="faTrash"></fa-icon> Eliminar
                            </button>
                        </div>
                    </tr>
                    }
                </tbody>
            </table>
        </section>
        }@else {
        <h3>No hay noticias publicadas</h3>
        }

    </main>
</div>