<section>
    <article>
        <div class="from-container">
            <h1>{{operacion}} Empleado</h1>
            <form [formGroup]="form" id="form" action="/login" method="post" (ngSubmit)="CUPersona()">
                <div class="inputs">
                    <div class="group">
                        <label for="cedula" class="form-input">Cedula:</label>
                        <input formControlName="cedula" type="number" id="cedula" class="form-input"
                            placeholder="Ingrese la Cedula" required>
                            @if (form.get('cedula')?.hasError('required') &&
                            form.get('cedula')?.touched) {
                            <span>*Campo requerido*</span>
                            } 

                            <label for="correo" class="form-input">Correo:</label>
                        <input formControlName="correo" type="text" id="correo" class="form-input"
                            placeholder="Ingrese el correo" required>
                            @if (form.get('correo')?.hasError('required') &&
                            form.get('correo')?.touched) {
                            <span>*Campo requerido*</span>
                            } 
                        <label for="contrasenia" class="form-input">Contraseña :</label>
                        <input formControlName="contrasenia" type="text" id="contrasenia" class="form-input"
                            placeholder="Ingrese la Contraseña" required>

                            @if (form.get('contrasenia')?.hasError('required') &&
                            form.get('contrasenia')?.touched) {
                            <span>*Campo requerido*</span>
                            } 
                        <label for="1ernombre" class="form-input">Primer Nombre:</label>
                        <input formControlName="1ernombre" type="text" id="1ernombre" class="form-input"
                            placeholder="Ingrese el primer Nombre" required>
                            @if (form.get('1ernombre')?.hasError('required') &&
                            form.get('1ernombre')?.touched) {
                            <span>*Campo requerido*</span>
                            } 
                 
                            <label for="2donombre" class="form-input">Segundo Nombre(Opcional):</label>
                            <input formControlName="2donombre" type="text" id="2donombre" class="form-input"
                                placeholder="Ingrese el segundo Nombre" required>
        
                            <label for="1erapellido" class="form-input">Primer Apellido:</label>
                            <input formControlName="1erapellido" type="text" id="1erapellido" class="form-input"
                                placeholder="Ingrese el primer Apellido" required>
                                @if (form.get('1erapellido')?.hasError('required') &&
                                form.get('1erapellido')?.touched) {
                                <span>*Campo requerido*</span>
                                } 
                        
                        
                    </div>
                    <div class="group">
                        <label for="2doapellido" class="form-input">Segundo Apellido:</label>
                        <input formControlName="2doapellido" type="text" id="2doapellido" class="form-input"
                        placeholder="Ingrese el segundo apellido" required>
                        @if (form.get('2doapellido')?.hasError('required') &&
                        form.get('2doapellido')?.touched) {
                        <span>*Campo requerido*</span>
                        } 
                        <label for="telefono" class="form-input">Telefono:</label>
                        <input formControlName="telefono" type="text" id="telefono" class="form-input"
                            placeholder="Ingrese el Telefono" required>
                            @if (form.get('telefono')?.hasError('required') &&
                            form.get('telefono')?.touched) {
                            <span>*Campo requerido*</span>
                            } 

                        <label for="rol" class="form-input">Rol:</label>
                        <select [(ngModel)]="rolSeleccionado" [ngModelOptions]="{standalone: true}"
                            (change)="capturarRol($event)" class="" name="select">
                            <option value="1">Admin</option>
                            <option value="2">Veterinario</option>
                            <option value="3">Vendedor</option>
                            <option value="4" selected>Dueño</option>
                        </select>

                        <label for="observaciones" class="form-input">Observaciones:</label>
                        <textarea name="observaciones" id="observaciones" cols="30" rows="10">Ingrese una observacion</textarea>
                        
                         
                        <label for="direccion" class="form-input">Direccion:</label>
                        <input formControlName="direccion" type="text" id="1erapellido" class="form-input"
                            placeholder="Ingrese el primer Apellido" required>

                            @if (form.get('direccion')?.hasError('required') &&
                            form.get('direccion')?.touched) {
                            <span>*Campo requerido*</span>
                            } 

                    </div>
                </div>
                <div class="botones">
                    <button class="btn" id="cancel" (click)="volver()"><fa-icon [icon]="cancelar"></fa-icon> Cancelar
                    </button>
                    <button class="btn" type="submit" id="save"><fa-icon [icon]="guardar"></fa-icon> Guardar </button>
                </div>
            </form>
        </div>
    </article>
</section>
