<section>
    <article>
        <div class="from-container">
            <h1>{{operacion}} Empleado</h1>
            <form [formGroup]="form" id="form" (ngSubmit)="CUEmpleado()">
                <div class="inputs">
                    <div class="group">
                        <label for="cedula" class="form-input">Cedula:</label>
                        <input formControlName="cedula" type="number" id="cedula" class="form-input"
                            placeholder="Ingrese la Cedula" required>
                        @if (form.get('cedula')?.hasError('required') &&
                        form.get('cedula')?.touched) {
                        <span>*Campo requerido*</span>
                        }

                        <label for="correo" class="form-input">Correo:</label>
                        <input formControlName="correo" type="email" id="correo" class="form-input"
                            placeholder="Ingrese el correo" required>
                        @if (form.get('correo')?.hasError('required') &&
                        form.get('correo')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        @if (operacion == 'Agregar ') {
                        <label for="contrasenia" class="form-input">Contraseña :</label>
                        <input formControlName="contrasenia" type="password" id="contrasenia" class="form-input"
                            placeholder="Ingrese la Contraseña" required>

                        @if (form.get('contrasenia')?.hasError('required') &&
                        form.get('contrasenia')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        }

                        <label for="1ernombre" class="form-input">Primer Nombre:</label>
                        <input formControlName="primerNombre" type="text" id="primerNombre" class="form-input"
                            placeholder="Ingrese el primer Nombre" required>
                        @if (form.get('primerNombre')?.hasError('required') &&
                        form.get('primerNombre')?.touched) {
                        <span>*Campo requerido*</span>
                        }

                        <label for="segundoNombre" class="form-input">Segundo Nombre(Opcional):</label>
                        <input formControlName="segundoNombre" type="text" id="segundoNombre" class="form-input"
                            placeholder="Ingrese el segundo Nombre" required>

                        <label for="primerApellido" class="form-input">Primer Apellido:</label>
                        <input formControlName="primerApellido" type="text" id="primerApellido" class="form-input"
                            placeholder="Ingrese el primer Apellido" required>
                        @if (form.get('primerApellido')?.hasError('required') &&
                        form.get('primerApellido')?.touched) {
                        <span>*Campo requerido*</span>
                        }


                    </div>
                    <div class="group">
                        <label for="segundoApellido" class="form-input">Segundo Apellido:</label>
                        <input formControlName="segundoApellido" type="text" id="segundoApellido" class="form-input"
                            placeholder="Ingrese el segundo apellido" required>
                        @if (form.get('segundoApellido')?.hasError('required') &&
                        form.get('segundoApellido')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        <label for="telefono" class="form-input">Telefono:</label>
                        <input formControlName="telefono" type="number" id="telefono" class="form-input"
                            placeholder="Ingrese el Telefono" required>
                        @if (form.get('telefono')?.hasError('required') &&
                        form.get('telefono')?.touched) {
                        <span>*Campo requerido*</span>
                        }

                        <label for="rol" class="form-input">Rol:</label>
                        <select [(ngModel)]="rolSeleccionado" [ngModelOptions]="{standalone: true}"
                            (change)="capturarRol($event)" class="" name="select">
                            <option value="Vigilante">Vigilante</option>
                            <option value="Aseador">Aseador</option>
                            <option value="Portero">Portero</option>
                        </select>

                        <label for="direccion" class="form-input">Direccion:</label>
                        <input formControlName="direccion" type="text" id="primerApellido" class="form-input"
                            placeholder="Ingrese el primer Apellido" required>
                        @if (form.get('direccion')?.hasError('required') &&
                        form.get('direccion')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        <label for="observaciones" class="form-input">Observaciones:</label>
                        <textarea formControlName="observaciones" name="observaciones" id="observaciones" cols="30"
                            rows="10" placeholder="Ingrese observaciones"></textarea>


                    </div>
                </div>
                <div class="botones">
                    <button class="btn" id="cancel" (click)="volver()"><fa-icon [icon]="cancelar"></fa-icon> Cancelar
                    </button>
                    <button class="btn" type="submit" id="save"><fa-icon [icon]="guardar"></fa-icon> Guardar </button>
                </div>
            </form>
        </div>
    </article>
</section>